<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Map Editor"
            extensions="map"
            icon="icons/map.gif"
            contributorClass="org.tn.qa.automation.plugin.editors.MapEditorContributor"
            class="org.tn.qa.automation.plugin.editors.MapEditor"
            id="org.tn.qa.automation.plugin.editors.MapEditor">
      </editor>
      <editor
            class="org.tn.qa.automation.plugin.editors.testcase.TestCaseEditor"
            extensions="tc"
            icon="icons/tc.gif"
            id="org.tn.qa.automation.plugin.testcase"
            name="TestCase Editor">
      </editor>
      <editor
            class="org.tn.qa.automation.plugin.editors.testcase.TestSuiteEditor"
            extensions="ts"
            icon="icons/ts.gif"
            id="org.tn.qa.automation.plugin.testsuite"
            name="TestSuite Editor">
      </editor>
      <editor
            class="org.tn.qa.automation.plugin.editors.DataConfigEditor"
            default="true"
            extensions="properties"
            icon="icons/config_file.gif"
            id="org.tn.qa.automation.plugin.DataConfigEditor"
            name="DataConfig Editor">
      </editor>
      <editor
            class="org.tn.qa.automation.plugin.editors.TestPlanEditor"
            default="true"
            extensions="tp"
            icon="icons/testplan.png"
            id="org.tn.qa.automation.plugin.testplan"
            name="TAP TestPlan">
      </editor>
      <editor
            class="org.tn.qa.automation.plugin.editors.testcase.TestVerbsEditor"
            default="false"
            extensions="ks"
            icon="icons/keywordSet.png"
            id="org.tn.qa.automation.plugin.editors.keywordsetEditor"
            name="UserDefine Keyword Edtior">
      </editor>
      <editor
            class="org.tn.qa.automation.plugin.editors.RemoteTestPlanEditor"
            default="true"
            extensions="tpR"
            icon="icons/testplan.png"
            id="org.tn.qa.automation.plugin.remotetestplan"
            name="TAP RemoteTestPlan">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Automation Wizards"
            id="org.tn.qa.automation.plugin">
      </category>
      <wizard
            name="Map File"
            icon="icons/newmap.gif"
            category="org.tn.qa.automation.plugin"
            class="org.tn.qa.automation.plugin.wizards.MapNewWizard"
            id="org.tn.qa.automation.plugin.wizards.newmap">
      </wizard>
      <wizard
            category="org.tn.qa.automation.plugin"
            class="org.tn.qa.automation.plugin.wizards.PrjNewWizard"
            icon="icons/newprj.gif"
            id="org.tn.qa.automation.plugin.wizard.newprj"
            name="Automation Project"
            project="true">
      </wizard>
      <wizard
            category="org.tn.qa.automation.plugin"
            class="org.tn.qa.automation.plugin.wizards.TestCaseNewWizard"
            icon="icons/tc_new.gif"
            id="org.tn.qa.automation.plugin.wizards.newtestcase"
            name="TestCase File">
      </wizard>
   </extension>
   <extension
         id="org.tn.qa.automation.plugin.builder.autonature"
         name="Automation Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.tn.qa.automation.plugin.builder.AutomationProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.tn.qa.automation.plugin.perspectives.AutomationPerspective"
            icon="icons/releng_gears.gif"
            id="org.tn.qa.automation.plugin.perspectives.AutomationPerspective"
            name="Automation">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathVariableInitializer">
      <classpathVariableInitializer
            class="org.tn.qa.automation.plugin.path.AutomationClasspathVariableInitializer"
            variable="AUTOMATION_LIB">
      </classpathVariableInitializer>
      <classpathVariableInitializer
            class="org.tn.qa.automation.plugin.path.SeleniumClasspathVariableInitializer"
            variable="SELENIUM_LIB">
      </classpathVariableInitializer>
      <classpathVariableInitializer
            class="org.tn.qa.automation.plugin.path.KeywordClasspathVariableInitializer"
            variable="KEYWORD_LIB">
      </classpathVariableInitializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.tn.qa.automation.plugin"
            name="Automation Category">
      </category>
      <view
            category="org.tn.qa.automation.plugin"
            class="org.tn.qa.automation.plugin.views.TestCaseView"
            icon="icons/ts_view.gif"
            id="org.tn.qa.automation.plugin.views.TestCaseView"
            name="TestCase Explorer">
      </view>
      <view
            category="org.tn.qa.automation.plugin"
            class="org.tn.qa.automation.plugin.views.KeywordView"
            icon="icons/kw_view.gif"
            id="org.tn.qa.automation.plugin.views.KeywordView"
            name="Keyword">
      </view>
      <view
            category="org.tn.qa.automation.plugin"
            class="org.tn.qa.automation.plugin.views.MapView"
            icon="icons/map_view.gif"
            id="org.tn.qa.automation.plugin.views.MapView"
            name="Map Explorer">
      </view>
      <view
            category="org.tn.qa.automation.plugin"
            class="org.tn.qa.automation.plugin.views.DataConfigView"
            icon="icons/config.gif"
            id="org.tn.qa.automation.plugin.views.DataConfigView"
            name="DataConfig"
            related="org.tn.qa.automation.plugin.views.MapView"
			>
      </view>
      <view
            category="org.tn.qa.automation.plugin"
            class="org.tn.qa.automation.plugin.views.LogView"
            icon="icons/log_view.gif"
            id="org.tn.qa.automation.plugin.views.LogView"
            name="Log">
      </view>
       <view
            category="org.tn.qa.automation.plugin"
            class="org.tn.qa.automation.plugin.views.SearchView"
            icon="icons/find.png"
            id="org.tn.qa.automation.plugin.views.SearchView"
            name="Search">
      </view>
      <view
            category="org.tn.qa.automation.plugin"
            class="org.tn.qa.automation.plugin.views.UserDefinedKeywordView"
            icon="icons/keywordSet.png"
            id="org.tn.qa.automation.plugin.views.UserDefinedKeywordView"
            name="UserDefine"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            class="org.tn.qa.automation.plugin.wizards.PrjImportWizard"
            icon="icons/openprj.gif"
            id="org.tn.qa.automation.plugin.wizard.openprj"
            name="Automation Project">
      </wizard>
   </extension>
<!--
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.tn.qa.automation.plugin.actionSet"
            label="Automation Action Set"
            visible="true">
         <menu
               id="sat"
               path="additions"
               label="Run">
            <separator
                  name="separator1">
            </separator>
            <separator
                  name="separator2">
            </separator>
         </menu>
         <menu
               id="run"
               path="sat/additions"
               label="Run">
            <separator
                  name="separator1">
            </separator>
            <separator
                  name="separator2">
            </separator>
         </menu>
         <action
               class="org.tn.qa.automation.plugin.actions.RunTestSuiteAction"
               icon="icons/run_exc.gif"
               id="org.tn.qa.automation.plugin.actions.RunTestSuiteAction"
               label="&amp;Run Local"
               menubarPath="sat/separator1"
               style="push"
               toolbarPath="runGroup"
               tooltip="Run Testsuite">
         </action>
         <action
               class="org.tn.qa.automation.plugin.actions.RunRemoteAction"
               icon="icons/run_remote.png"
               id="org.tn.qa.automation.plugin.actions.RunRemoteAction"
               label="&amp;Run Remote"
               menubarPath="sat/separator2"
               style="push"
               toolbarPath="runGroup"
               tooltip="Run Remote">
         </action>
      </actionSet>
   </extension>
  -->
   <extension point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
	</extension>
   <extension
         id="satproduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.tn.qa.automation.sat.application"
            description="Automation Tool"
            name="TAP">
         <property
               name="windowImages"
               value="icons/logo/牛宝16.gif,icons/logo/牛宝32.gif,icons/logo/牛宝48.gif,icons/logo/牛宝64.gif,icons/logo/牛宝128.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="FF8000">
         </property>
         <property
               name="startupProgressRect"
               value="0,280,460,15">
         </property>
         <property
               name="startupMessageRect"
               value="15,250,441,20">
         </property>
         <property
               name="appName"
               value="TAP">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/org.tn.qa.automation.plugin/default.css">
         </property>
         <property
               name="applicationXMI"
               value="org.eclipse.platform/LegacyIDE.e4xmi">
         </property>
         <property
               name="cssTheme"
               value="org.eclipse.e4.ui.css.theme.e4_default">
         </property>
         <property
               name="applicationCSSResources"
               value="platform:/plugin/org.eclipse.platform/images/">
         </property>
      </product>
   </extension>

	<extension
       id="org.tn.qa.automation.sat.application"
       name="TAP"
       point="org.eclipse.core.runtime.applications">
	   <application
          icon="icons/logo/牛宝.ico"
          visible="true">
	      <run class="org.tn.qa.automation.plugin.application.TAPApplication"/>
	   </application>
	</extension>
 <extension
       point="org.eclipse.ui.splashHandlers">
    <splashHandler
          class="org.tn.qa.automation.plugin.splashHandlers.ExtensibleSplashHandler"
          id="org.tn.qa.automation.plugin.splashHandlers.extensible">
    </splashHandler>
    <splashHandler
          class="org.tn.qa.automation.plugin.splashHandlers.BrowserSplashHandler"
          id="org.tn.qa.automation.plugin.splashHandlers.browser">
    </splashHandler>
    <splashHandler
          class="org.tn.qa.automation.plugin.splashHandlers.InteractiveSplashHandler"
          id="org.tn.qa.automation.plugin.splashHandlers.interactive">
    </splashHandler>
 </extension>
 <extension
       point="org.tn.qa.automation.plugin.splashExtension">
    <splashExtension
          icon="icons/af.png"
          id="af"
          tooltip="Application Framework">
    </splashExtension>
    <splashExtension
          icon="icons/embedded.png"
          id="embedded"
          tooltip="Embedded">
    </splashExtension>
    <splashExtension
          icon="icons/enterprise.png"
          id="enterprise"
          tooltip="Enterprise">
    </splashExtension>
    <splashExtension
          icon="icons/languages.png"
          id="languages"
          tooltip="Languages">
    </splashExtension>
    <splashExtension
          icon="icons/rcp.png"
          id="rcp"
          tooltip="RCP">
    </splashExtension>
    <property name="preferenceCustomization" value="plugin_customization.ini">   
</property>
 </extension>

 <extension
       id="main"
       name="SATMenu"
       point="org.eclipse.ui.menus">
	<menuContribution
	allPopups="false"
	locationURI="toolbar:main?before=additions">
	</menuContribution>
</extension>
 <extension  
             point="org.eclipse.ui.activities">  
          <activity  
                id="activity1"  
                name="remove editor buttons">  
             <enabledWhen>  
                <with  
                      variable="activePartId">  
                   <equals  
                         value="activity1">  
                   </equals>  
                </with>  
             </enabledWhen>  
          </activity>  
          <activityPatternBinding  
                activityId="activity1"  
                isEqualityPattern="false"  
                pattern="org.eclipse.ui.edit.*">  
          </activityPatternBinding>
</extension>
 <extension
       point="org.eclipse.ui.popupMenus">
    <objectContribution
          adaptable="true"
          id="org.tn.qa.automation.plugin.team.menu"
          objectClass="org.eclipse.core.resources.IResource">
       <action
             class="org.eclipse.team.internal.ui.actions.ApplyPatchAction"
             id="org.tn.qa.automation.plugin.popup.action"
             label="Team"
             menubarPath="additions">
       </action>
    </objectContribution>
 </extension>
</plugin>
